<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Flight Prediction</title>
  </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Atmosphere Pressure Prediction</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  </div>
</nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<br>
<center>
<form method="POST" action="">
   <div class="form-group">
    <label for="source">Source:</label>
        <select id="PT" class="form-control" name="PT">
            <option value="delhi">Delhi</option>
            <option value="mumbai">Mumbai</option>
            <option value="bangalore">Bangalore</option>
            <option value="indore">Indore</option>
        </select>
   </div><br>
    <div class="form-group">
    <label for="destination">Destination:</label>
        <select id="destination" class="form-control" name="destination">
            <option value="delhi">Delhi</option>
            <option value="mumbai">Mumbai</option>
            <option value="bangalore">Bangalore</option>
            <option value="indore">Indore</option>
        </select>
    </div><br>
    <div class="form-group">
    <label>Departure Date</label>
    <input type="date" class="form-control" name="departure_date" >
    </div><br>
    <div class="form-group">
    <label>Arrival Date</label>
    <input type="date" class="form-control" name="Arrival_date" >
    </div><br>
    <div class="form-group">
    <label for="stopage">Stopage:</label>
        <select id="stopage" class="form-control" name="stopage">
            <option value="non_stop">Non-Stop</option>
            <option value="Stop">Stop</option>
        </select>
    </div><br>
    <div class="form-group">
    <label for="airline">Which airline you want to travel:</label>
        <select id="airline" class="form-control" name="airline">
            <option value="indigo">Indigo</option>
            <option value="airways">Airways</option>
            <option value="vistara">Vistara</option>
            <option value="dubai_airline">Dubai Airlines</option>
        </select>
    </div><br>
    <a href="predict/"> button <button class="btn btn-success">Submit</button></a>
</form>
</center>
</body>
</html>